body{
  font-family: 'Nunito Sans', sans-serif;
  background-color: #cecece;
}

ul{
  list-style-type: none;
}

section{
  padding: 45px 0 80px 0;
}

.myHeader{
  background-attachment: fixed;
  position: relative;
  height: 600px;
  background-image: url('../img/Banniere_redim.jpg');
  background-size: cover;
}

.myHeader:after {
  content: "";
  width: 100%;
  height: auto;
  position: absolute;
  /*z-index: -1;*/
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.myHeader:after {
  background: rgba(0, 0, 0, 0.3);
}

.profile-picture{
  margin-top: -130px;
  float: none;
  border-style: solid;
  border-width: 6px;
  border-color: #fff;
}

.myHeader__title{
  color: #fff;
  font-size: 72px;
  margin-top: -320px;
  font-weight: 800;
  z-index: 4;
}

@media screen and (max-width: 515px) {
  .myHeader__title {
    color: #fff;
    font-size: 72px;
    margin-top: -380px;
    font-weight: 800;
    z-index: 4;
  }
}


.myHeader__subtitle{
  color: #fff;
  margin-top: -220px;
}

.monCarousel{
  height: 400px;
}


/**
experiences
*/

#experiences{
  background: #d82c2e;
}

.white-divider{
  width: 100px;
  height: 2px;
  background: #fff;
  margin: 0 auto;
}

#experiences .heading h2{
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 40px;
}

.timeline{
  padding: 30px 10px;
  position: relative;

}

.timeline:before{
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color: #333;
  left: 50%;
  margin-left: -2.5px;
}

.timeline > li{
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:after{
  clear: both;
}

.timeline > li:before{
  content: " ";
  display: table;
}
.timeline > li:after{
  content: " ";
  display: table;
}

.timeline li .timeline-badge{
  color: #d82c2e;
  width: 50px;
  line-height: 50px;
  font-style: 20px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #ddd;
  border-radius: 50%;
}

.timeline-panel-container{
  width: 50%;
  float: left;
}
.timeline-panel-container-inverted{
  width: 50%;
  float: right;
}

.timeline-panel{
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
  background: #fff;
}

.timeline-panel-container-inverted .timeline-panel{
  float: left;
  margin-left: 40px;
}

.timeline-panel:after{
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline-panel-container-inverted .timeline-panel:after{
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-heading h3{
  margin-top: 5px;
  font-size: 20px;
}

.timeline-heading h4{
  color: #d82c2e;
}

.demoImg{
  height:60px;
}

.formationCard{
   background-color: #ded5c4;
   height: 380px;
}

.card-title{
  color: #d82c2e;
  text-transform: uppercase;
}

#competences{
  background-color: #fff;
}
#competences .heading h2{
  color: #d82c2e;
  text-transform: uppercase;
}

#competences .progress{
  height: 36px;
  margin: 30px 20px;
  backface-visibility: #ddd;
}
#competences .progress-bar{
  background: #d82c2e;
}

#competences .progress h5{
  text-shadow: 1px 1px 1px #000;
}
